build
build-tup
.tup
cmake

.sessions

.DS_Store
.vscode
.dnf-cache
*.vcxproj.*
.*.swp
.*.swo

imgui.ini

bin
tags
perf.data
perf.data.old
penguin.save
penguin.core
dumps
bios-files/*
ps1.ram.bin
.vmuflash.*

.*.bin
*.save
*.dot
*.ppm
*.mp4
*.mp3
*.raw

tools/detwiddle
tools/boot_data

**/build
reports